.App {
  font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #b69b9b;
}
button {
  font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #b69b9b 0%,
    #d6b4b4 25%,
    #e3e4e0 51%,
    #d6b4b4 86%,
    #b69b9b 100%
  );
  border-radius: 2px;
  border-radius: 2px;
}
input {
  border: 2px inset #b69b9b;
  box-shadow: inset 0px 4px 4px #b69b9b;
}
