.add-rating {
  display: flex;
  margin: 3% 31% 0;
  box-shadow: 0px 0px 10px 5px #cecece;
  width: 39%;
  height: 400px;
  flex-direction: column;
}
.add-rating-heading {
  font-family: "Mrs Saint Delafield", sans-serif;
  font-size: 60px;
  font-weight: 100;
  margin: 8% 0 0;
}
.add-rating-dropdown {
  height: 24px;
  width: 35%;
  margin: 6% 1%;
  width: 35%;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
