.add-rating {
  display: flex;
  margin: 3% 31% 0;
  box-shadow: 0px 0px 10px 5px #cecece;
  width: 39%;
  height: 400px;
  flex-direction: column;
}
.add-rating-heading {
  font-family: "Mrs Saint Delafield", sans-serif;
  font-size: 60px;
  font-weight: 100;
  margin: 8% 0;
}
.add-rating-subheading {
}
